body {
    background-image: url("../imgs/newspaper.jpg");
    background-size: 30%;
    font-family: 'Nunito', sans-serif;
}

.jumbotron {
    background: #a3a3c2;
	color: ghostwhite;
    font-weight: bold;
    font-size: 200%;
    text-shadow: 2px 2px 4px #000000;
    opacity: 10%;
    margin-top: 20px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);       
}

.navbar {
	background: #47476b;
	width: 100%;
}

.navbar-brand {
	color: ghostwhite;
}


.navbar-right {
    float: right;
    color: #f2f2f2;
    overflow: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.card {
    background: #e0e0eb;   
    padding-top: 30px;
    margin-bottom: 25px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

.modal {
    background: #e0e0eb;   
    padding-top: 30px;
    margin-bottom: 25px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

/*.card-body {
    background: #a3a3c2;
}

.card-title {
    background: #a3a3c2;
}*/

.card-text {
    color: ghostwhite;
}

.article-title {
    color: #334d4d;
    text-shadow: 2px 2px 4px ghostwhite;
}

.card-text {
        color: #334d4d;
}

.save-article {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);  
    padding-left: 30px;
    padding-right: 30px;  
}

.scrape-btn {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);    
}


.topnav a:hover {
    color: black;
}

.panel {
    background: #e0e0eb;   
    margin-bottom: 25px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

.delete-note {
    background: magenta;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);   
}

/* Add a color to the active/current link */
/*.topnav a.active {
    background-color: #4CAF50;
    color: white;
}*/

/*.scrape {
	float: right;
	display: inline-block;
	overflow: auto;
  	white-space: nowrap;
  	margin:0px auto;
  border:1px red solid;
}*/